/*
Theme Name: ST Consultants 
Version: 1.1
Author: Reynolds Digital
Author URI: http://www.reynoldsdigital.com/
*/

/************** THEME GENERAL ****************/

/************** STRUCTURE ****************/
body{font-family:'Open Sans',Helvetica,'Trebuchet MS',sans-serif;font-size:.8em;font-weight:normal;line-height:1.55;color:#666;background:#EDEDF2;background:#fff;}
#wrapper{padding:0 20px;background:#fff;position:relative;}
.row{margin-bottom:20px;}
header .row{margin-bottom:0;}

/************** TYPOGRAPHY ****************/ 
h1,h2,h3,h4,h5,h6{line-height:1.2;font-weight:normal;}
h1{font-size:22px;font-weight:100;color:#191919;}
h2{font-size:22px;padding:0 0 10px 0;color:#454545;}
h3{font-size:18px;color:#0055CE}
h4{font-size:12px;text-transform:uppercase;color:#404040;}
   
.intro{font-size:14px;font-weight:600;line-height:20px;color:#666;} 
strong{font-weight:600;}
blockquote p{font-size:14px;line-height:20px;margin:0 0 15px 0;}
blockquote cite{display:block;font-size:13px;font-style:italic;text-align:right;}
   
/************** LINKS ****************/
a, .button{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}

/************** LISTS ****************/
ol{margin-left:40px;counter-reset: my-badass-counter;list-style:none;}
   ol li{line-height:1.5;margin-bottom:15px;color:#000;oveflow:hidden;}
   ol li:before{content:counter(my-badass-counter,decimal);counter-increment:my-badass-counter;display:block;float:left;width:20px;font-weight: bold;margin:0 0 0 -20px;}   

ul.arrow{margin:0 0 20px 0!important;}   
   ul.arrow li{padding:8px 0 8px 22px;background:transparent url(images/list-arrow.png) 0 13px no-repeat;}   

ul.hours, ul.contacts{margin-bottom:20px;font-size:14px;} 
   ul.hours li{text-align:right;padding:7px 0;color:#454545;border-bottom:1px solid #eee;}
   ul.hours li strong{display:block;float:left;font-weight:normal;text-align:left;color:#7E7F7F;}

ul.contacts li{padding:6px 0 6px 30px;color:#454545;border-top:1px solid #eee;}
   ul.contacts li:first-child{border-top:none;}
   
   li.address{background:transparent url(images/css-sprite.png) -542px -55px no-repeat;}
   li.phone{background:transparent url(images/css-sprite.png) -542px -105px no-repeat;}
   li.email{background:transparent url(images/css-sprite.png) -542px -154px no-repeat;}


/************** HEADER ****************/
header{overflow:hidden;}

/************** SOCIAL ****************/
#social-links ul{float:right;margin:0;overflow:hidden;}
   #social-links ul li{float:left;}
   #social-links ul a{display:block;width:37px;height:37px;text-indent:-9999px;}
   #social-links #twitter {background:url(images/css-sprite.png) 0 0;}
   #social-links #linkedin {background:url(images/css-sprite.png) -37px 0;}
   #social-links #facebook {background:url(images/css-sprite.png) -74px 0;}
   #social-links #google {background:url(images/css-sprite.png) -111px 0;}
   #social-links #rss {background:url(images/css-sprite.png) -148px 0;}

/************** LOGO ****************/
header h1{position:absolute;top:20px;left:18px;}

/************** MAIN NAVIGATION ****************/
.navbar{border-bottom:1px solid #DADADA;margin:20px 0;}
   #megaMenu{position:relative;z-index:100;}
   #megaMenu ul {margin:0 0 -2px 0;float:right;}
   #megaMenu li{float:left;list-style:none;padding:0;border-bottom:3px solid transparent;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
   #megaMenu a{text-transform:uppercase;display:block;padding:12px 15px;color:#000;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
   #megaMenu li ul{display:none;padding:0;background:none;position:absolute;z-index:110;}
   #megaMenu li li{float:none;display:block;margin:0;}
   #megaMenu li li a{display:block;padding:8px 16px;color:#3c4c51;background:#fff;border-top:1px solid #dcdcdc;}
   #megaMenu li li a:hover,#megaMenu li li a:active,#megaMenu li li a:focus,#megaMenu li li.current-menu-item a{background:#F3F3F3;}
#megaMenu ul > li:hover{background:#F3F3F3;border-bottom:3px solid #0058C9;/*#008DF3;*/}
#megaMenu ul.megaMenu > li.current-menu-item, 
   #megaMenu ul.megaMenu > li.current-menu-parent, 
      #megaMenu ul.megaMenu > li.current-menu-ancestor, 
      #megaMenu ul.megaMenu > li.current-category-ancestor{background:#F3F3F3;border-bottom:3px solid #008DF3;}

/************** BANNER ***************/ 
#hp-banner{margin-bottom:20px;}

#banner{}
   #banner .row{margin-bottom:0;}
   #banner h1{float:left;border-bottom:3px solid #0055CE;margin:0 0 -2px 0;padding:10px 0 15px 0;}
   .bcr{font-size:12px;text-align:right;color:#0055CE;margin-top:20px;}  
   .bcr a{color:#454545;} 
   .bcr a:hover, .bcr a:active, .bcr a:focus{color:#0055CE;}

/************** CONTENT ****************/
#content{padding: 20px 0 30px 0;border-top:1px solid #eee;overflow:hidden;}
   .home #content{padding: 0 0 30px 0;border:none;}

/************** HP SOFT ****************/
#hp-software .span4{border-bottom:1px solid #d9d9d9;}
   #hp-software div{padding:5px 15px 10px 15px;border:1px solid #D2D2D2;background:#fbfbfb;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );}
   #hp-software div h2{padding:0;}
   #hp-software div p{margin:0;color:#666;}
   #hp-software .p-thumb{min-height:62px;display:block;text-align:center;padding:32px 0 37px 0;background:#008DF3;}
   #hp-software .span4:hover .p-thumb, #hp-software .span4:active .p-thumb, #hp-software .span4:focus .p-thumb{background:#434343;}
   #hp-software .span4:hover a h2{color:#000;}
   
/************** SOFT ARCHIVE ****************/
.apply{position:relative;}
   .apply a{display:block;color:#414141;}
   .apply a:hover, .apply a:active, .apply a:focus{color:#0058C9;}
   .apply span{width:120px;font-size:14px;font-weight:bold;text-align:center;margin:0 0 0 -60px;padding:5px 0 7px 0;background:#fff;position:absolute;left:50%;bottom:15px;}
   
/************** SECTORS ARCHIVE ****************/   
.sectors article.span4{margin-bottom:20px;}
   .sectors .span4 .wrap{min-height:166px;padding:5px 15px 10px 15px;border:1px solid #D2D2D2;background:#fbfbfb;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );}
   .sectors .span4 h2{padding:0;}
   .sectors .span4 p{margin:0;}
   
.readmore{position:relative;}
   .readmore a{display:block;color:#fff;}
   .readmore a:hover, .readmore a:active, .readmore a:focus{color:#eee;}
   .readmore span{width:120px;font-size:14px;font-weight:bold;text-align:center;padding:5px 0 7px 0;background:#008DF3;position:absolute;right:0;bottom:10px;} 
  
/************** POSTS - Category ****************/
.post-excerpt{overflow:hidden;}
   .date-meta{float:left;width:40px;font-weight:bold;text-align:center;text-transform:uppercase;margin:2px 0 0 0;padding:4px 0 5px 0;background:#454545;color:#fff;}
   .date-meta p{margin:0;line-height:1.05;}
   .date-meta .date{font-size:18px;}
   .date-meta .month{font-size:13px;}
   .post-copy{float:right;width:90%;padding:0 0 20px 0;}
   .post-copy h2{font-size:16px;font-weight:bold;margin:0 0 12px 0;padding:0 0 10px 0;background:transparent url(images/br-title.png) bottom left no-repeat;}
   .post-copy h2 a{color:#666;}
   .post-copy h2 a:hover, .post-copy h2 a:active, .post-copy h2 a:focus{color:#0054CD;}
   .post-meta{font-size:12px;margin:0 0 8px 0;}
   .moretag{padding:0 0 0 .4em;}

/************** POSTS - Pagination ****************/
.pagination{line-height:1.2;border-top: 1px solid #eee;padding:13px 0 0 0;}
.pagination a,.pagination .dots {padding:3px 7px;color:#444;background:#F4F4F4;border:1px solid #bbb;}
.pagination .current{padding:3px 7px;color:#fff;background:#454545;border:1px solid #454545;}

/************** PROMO BOX ****************/
#promo-box{clear:both;background:transparent url(images/bg-promo.png) left -10px repeat-x;}
#promo-box .container{padding-bottom:12px;background:transparent url(images/promo-arrow.png) center bottom no-repeat;}
   #promo-box p{font-size:24px;color:#fff;margin:8px 0 10px 0;}
   #promo-box .button{display:block;float:right;width:190px;height:25px;font-size:15px;font-weight:600;text-transform:uppercase;margin-top:10px;padding:5px 0 0 10px;color:#7DB72B;background:#fff url(images/css-sprite.png) 185px -409px no-repeat;}
   
/************** jQuery UI Tabs - Content *********/
#tabs{margin-bottom:20px;clear:both;}
   #tabs ul{overflow:hidden;list-style:none;margin:0;border-left:1px solid #bbb;}
   #tabs li{float:left;border-top:1px solid #CCC;border-right:1px solid #bbb;}
   #tabs li a{display:block;font-size:12px;font-weight:600;text-transform:uppercase;padding:10px 20px;color:#404040;background:#f1f1f1;}
   #tabs li a,#tabs li a:link,#tabs li a:visited{color:#999;}
   #tabs li a:hover{color:#434343;}
   #tabs li.ui-tabs-active a{color:#fff;background:#434343;}
   #tabs li a:focus{outline:none;}
   
   .ui-tabs-panel{border:1px solid #bbb;margin:0 0 15px 0;}
   #tabs .tab-content{padding:15px 20px;background:#fbfbfb;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );}
   
   .tab-content ul{border:none!important;}
   .tab-content ul li{float:none!important;border:none!important;}
   
   
/************** SIDEBAR ***************/
#sidebar h2{font-weight:100;padding:0;}
#sidebar .apply{margin:0 0 15px 0;}
#sidebar .box{background:#F1F1F1;border:1px solid #DEDEDE;margin:0 0 15px 0;padding:0 10px 10px 10px}
#sidebar .box ul{list-style:none;margin:0;border-bottom:1px solid #DEDEDE;}
   #sidebar .box ul li{padding:8px 15px;color#52595F;background:#fff;border:1px solid #DEDEDE;border-bottom:0;}
   #sidebar .box ul li a{color:#52595F;}
   #sidebar .box ul li a:hover, #sidebar ul li a:active, #sidebar ul li a:focus{color:#0054CD;}
   
#sidebar .widget_nav_menu{padding:0;background:none;border:none;}  
   #sidebar .widget_nav_menu ul{border:none;} 
   #sidebar #menu-explore li{margin:0 0 15px 0;padding:0;background:#008DF3 url(images/css-sprite.png) -525px -336px no-repeat;border:none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
   #sidebar #menu-explore li.last{margin:0;}
   #sidebar #menu-explore li a{display:block;text-transform:uppercase;font-size:20px;padding:13px 10px 12px 70px;color:#fff;background:url(images/arrow.png) center right no-repeat;}
   #sidebar #menu-explore li:hover{background-color:#454545;}
   
/* sidebar post tabs */
#sidebar .ui-tabs-panel{border:none;border-top:1px solid #DEDEDE;}
   #sidebar .cb-post{padding:12px;border:1px solid #DEDEDE;border-top:none;}
   #sidebar .cb-post h3{font-size:21px;font-weight:100;margin:0 0 10px 0;}
   #sidebar .ui-tabs-nav a:focus{color:#fff;}
   
/* sidebar accordions */
#sidebar p.title {font-size:21px;color:#434343;margin:0 0 10px 0;}   
   .accordion{border:1px solid #bbb;}
   #sidebar .accordion, .accordion{margin:0 0 20px 0;}
   #sidebar .accordion h2, .accordion h2{font-size:14px;text-transform:uppercase;color:#404040;border-top:1px solid #bbb;margin:0;padding:10px;background:#fff url(images/accordion-sprite.png) right 0 no-repeat;}
   #sidebar .accordion h2:first-child, .accordion h2:first-child{border-top:none;}
   #sidebar .accordion h2.ui-accordion-header-active, .accordion h2.ui-accordion-header-active{font-weight:600;border-bottom:1px solid #bbb;background:#fff url(images/accordion-sprite.png) right -41px no-repeat;}
   .accordion p{padding:10px;margin:0;}

/************** PARTNERS ****************/
#partners{margin:40px 0 0 -30px;padding:8px 0;background:#F7F7F7;border-top:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}
   #partners table{border:none!important;}
   #partners .box{margin:0 20px;}
   #partners tbody div{width:940px!important;height:70px!important;margin:20px;}
   #partners td{padding:0!important;}
   #partners td div{margin:0!important;}
   #partners img{padding:0 20px 0 0;}

/************** FOOTER ****************/
footer{font-size:14px;color:#999;background:#323232;border-top:5px solid #0058C9;}
   footer h2{font-size:20px;font-weight:100;text-transform:uppercase;margin:30px 0 15px 0;color:#fff;}
   footer p{font-size:14px;}
   footer .desc{font-size:12px;}
   footer .container{border-bottom:1px solid #292929;}  
   
   footer ul{list-style:none;margin:0;}
     footer li{font-size:12px; padding:0 0 5px 0;}
     footer .address li{padding-left:30px;}
     footer .address-f{background:transparent url(images/css-sprite.png) -543px -211px no-repeat;}
     footer .phone-f{background:transparent url(images/css-sprite.png) -543px -249px no-repeat;}
     footer .email-f{background:transparent url(images/css-sprite.png) -543px -285px no-repeat;}
     
     footer .soc-links{margin:20px 0 0 0;}
     footer .soc-links li{float:left;margin:0 15px 10px 0;}
     footer .soc-links li a{display:block;width:30px;height:30px;text-indent:-9999px;}
     footer .soc-links #facebook a{background:transparent url(images/css-sprite.png) 0 -61px no-repeat;}
     footer .soc-links #twitter a{background:transparent url(images/css-sprite.png) -54px -61px no-repeat;}
     footer .soc-links #linkedin a{background:transparent url(images/css-sprite.png) -108px -61px no-repeat;}
     footer .soc-links #google a{background:transparent url(images/css-sprite.png) -162px -61px no-repeat;}
    
   #footer-copy{padding:20px 0 0 0;border-top:1px solid #393939;border-bottom:none;}
      #footer-copy p, #footer-copy a{font-size:11px;color:#777;}
      #footer-copy a:hover, #footer-copy a:active, #footer-copy a:focus{color:#999;}

/************** FOOTER NAVIGATION ****************/
   footer .menu li{float:left;}
      footer .menu li a{line-height:1;padding:0 1em;border-left:1px solid #777;}
      footer .menu li:first-child a{border-left:none;}
      #menu-footnav{float:right;}
      #menu-footnav li:last-child a{padding:0 0 0 1em;}
      #menu-legal li:first-child a{padding:0 1em 0 0;}
   

/************** PLUGINS ****************/

/************** FORM - GENERAL ****************/
form{padding:15px 15px 12px 15px;background:#F1F1F1;border:1px solid #DEDEDE;overflow:hidden;}
   form ul{list-style:none;margin:0;}
   form input, form textarea{width:93.5%;padding:4px 6px;color:#7F7F7F;background:#fff; border:1px solid #C4C4C6;}
   .home form input, .home form textarea{width:87%;}
   .home form textarea{height:80px;}
   form input.button{float:right;width:120px;font-size:14px;font-weight:bold;text-align:center;padding: 7px 0;color:#fff;background:#008DF7;border:none;}
   form input.button:hover, form input.button:active, form input.button:focus{background:#434343;}
   form h3{font-family:'Open Sans',Helvetica,'Trebuchet MS',sans-serif;font-size:22px;font-weight:100;margin-top:0;color:#333;}
   .gform_footer{height:34px;}

/* field icons */   
   .form-name input{padding-left:30px;background: #fff url(images/css-sprite.png) -540px -430px no-repeat;}
   .form-phone input{padding-left:30px;background: #fff url(images/css-sprite.png) -536px -108px no-repeat;}
   .form-mail input{padding-left:30px;background: #fff url(images/css-sprite.png) -536px -157px no-repeat;}
   .form-message textarea{padding-left:30px;background: #fff url(images/css-sprite.png) -536px -495px no-repeat;}

/* confirmation */
.gform_confirmation_wrapper{padding:15px 15px 12px 15px;background:#F1F1F1;border:1px solid #DEDEDE;}
.home .gform_confirmation_wrapper{height:291px;}

/* content froms */
#contact .form-name, #contact .form-phone, .post-type-archive-software .form-name, .post-type-archive-software .form-phone{width:49.95%;float:left;}
#contact .form-name input, #contact .form-phone input, .post-type-archive-software .form-name input, .post-type-archive-software .form-phone input{width:84%;}
#contact .form-phone input, .post-type-archive-software .form-phone input{float:right;}
#contact textarea, .post-type-archive-software textarea{height:110px;margin-bottom:15px;}
.post-type-archive-software form{padding;0;border:none;background:none;} 
   
/************** SEARCH FORM ****************/
header #searchform{margin:0;border:none;background:none;padding:0;}
   header #searchform input{width:174px;margin:0;padding:8px 6px;border:none;background:#fff url(images/css-sprite.png) -320px -2px no-repeat;border-bottom:1px solid #DADADA;border-right:1px solid #DADADA;}
   header input#searchsubmit{width:58px;font-size:11px;text-align:center;padding:8px 0 9px 0;color:#fff;background:#262D34;border:0;}

/************** TESTIMONIALS SLIDER  ****************/
#testimonials-slider{padding:20px 20px 30px 20px;border:1px solid #B8B8B8;background:#fbfbfb;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); position:relative;}
   #testimonials-slider h2{padding:0;margin:0 0 15px 0}
   .testimonial-single{padding:20px 20px 20px 55px;border:1px solid #B9B9B9;overflow:hidden;background:#fff url(images/testimonial-quote.png) 15px 15px no-repeat;}
   .testimonial-single p, .testimonial-single em{float:left;font-style:italic;margin:0;padding:0 1em 0 0;display:inline;}
   
   #testimonials-slider .nav{position:absolute;top:20px;right:19px;overflow:hidden;}
   #testimonials-slider .nav a{width:38px;height:34px;text-indent:-9999px;display:block;float:left;}
   #testimonials-slider .nav .prev{background:url(images/css-sprite.png) -272px -65px no-repeat;}
   #testimonials-slider .nav .next{background:url(images/css-sprite.png) -315px -65px no-repeat;}

/************** CLASSES  ****************/
.alignleft{float:left;margin-right:15px;margin-bottom:15px;}
.alignright{float:right;margin-left:15px;margin-bottom:15px;}

/************** RESPONSIVE COLUMNS  ****************/
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

/************** RESPONSIVE DESIGN  ****************/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
   header h1 img{width:250px;height:auto;}
    #megaMenu a{padding:10px 7px;}
    form input, form textarea{width:91.5%;}
    #hp-banner form{padding:6px 10px 8px 10px;}
    #hp-banner form input, #hp-banner form textarea{width:84%;margin-bottom:7px;padding:2px 4px 2px 28px;}
    #hp-banner form textarea{height:60px;}
    #hp-banner form h3{font-size:18px;}
    #hp-banner form input.button{width:80px;font-size:13px;margin:0;padding:4px 0;}
    #hp-banner .gform_footer{height:28px;}
    .form-name input{background: #fff url(images/css-sprite.png) -542px -434px no-repeat;}
    .form-phone input{background: #fff url(images/css-sprite.png) -541px -109px no-repeat;}
    .form-mail input{background: #fff url(images/css-sprite.png) -540px -160px no-repeat;}
    .form-message textarea{background: #fff url(images/css-sprite.png) -542px -495px no-repeat;}
    #hp-software img{height:50px;width:auto;}
    #hp-software .p-thumb{padding:25px 0;}
    #hp-software a h2{font-size:17px;line-height:1.4;}
    #hp-software .wrap{padding:5px 10px 10px 10px;}
    #sidebar .accordion h2, .accordion h2{font-size:12px;}
    #sidebar #menu-explore li a{font-size:17px;padding:10px 10px 10px 55px;}
    #sidebar .cb-post h3{font-size:18px;}
    .sectors .span4 .wrap{min-height:210px;}
    footer .soc-links li{margin:0 10px 10px 0;}
    footer .menu li a{padding:0 .8em;}
    .apply .button{width:100px;padding:3px 0 5px 0;bottom:10px;margin: 0 0 0 -50px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
   #social-links ul{float:none;width:434px;margin:0 auto;}
   header h1{text-align:center;margin:30px 0;position:relative;top:0;left:0;}
   #search input.field{border-top:1px solid #DADADA;}
   .navbar{border:1px solid #DEDEDE;}
   .navbar-inner{position:relative;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );}
   .navbar-inner:before{content:"GO TO...";font-size:14px;position:absolute;top:20px;left:5px;}
   .btn-navbar{background:#008DF3!important;}
   .btn-navbar:hover, .btn-navbar:active, .btn-navbar:focus{background:#434343!important;}
   #megaMenu ul{float:none;margin-top:10px;}
   #megaMenu ul li{float:none;}
   #megaMenu li ul{display:block;padding:0;position:relative;}
   #megaMenu li li a{padding:12px;}
   #meteor-slideshow, .mslide{width:100%!important;}
   #meteor-slideshow img{width:100%;}
   #hp-banner form input, #hp-banner form textarea{width:93.5%;}
   #hp-banner form input.button{width:120px;}
   #hp-software .span4{float:left;width:31.6%;}
   #hp-software .post-52.span4{margin:0 15px;}
   #hp-software a h2{font-size:16px;line-height:1.4;}
   #hp-software .wrap{padding:5px 10px 10px 10px;}
   #hp-software img{height:44px;width:auto;}
   #hp-software .p-thumb{padding:25px 0;}
   .tab-content .one_fourth{width:46%;}
   .tab-content .one_fourth img{width:100%;height:auto;}
   footer .span2 li{float:left;margin-right:10px;}
   #menu-footnav{float:left;}
   .apply a{text-align:center;background:#0058C9;}
   .sectors section .span4{overflow:hidden;;border:1px solid #D2D2D2;background:#fbfbfb;background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );} 
   .sectors section .span4 .readmore{float:left;width:50%;-moz-box-sizing:border-box;box-sizing:border-box;}
   .sectors section .span4 .readmore img{width:100%;height:auto;}
   .sectors section .span4 .wrap{float:right;width:50%;border:none;background:none;-moz-box-sizing:border-box;box-sizing:border-box;}
   .software-updates form{padding:15px 0 0 0;}
   body{padding:0;}
   .container{padding-left:10px;padding-right:10px;}   
}

@media (max-width: 650px) {
   #hp-software .span4{float:none;width:100%;}
   #hp-software .post-52.span4{margin:0}
   .post-type-archive-software #tabs li{width:100%;float:none;-moz-box-sizing:border-box;box-sizing:border-box;}
   #hp-banner form input, #hp-banner form textarea{width:91%;}
   .software-updates form input, .software-updates form textarea{width:91%;}
   .software-updates form input.button, #contact form input.button{width:120px;}
   #contact form input, #contact form textarea{width:90%;}
   #contact input#searchsubmit{width:58px;}
   #contact input#s{width:174px;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {  
   header #social-links{display:none;}
   header h1{margin-bottom:5px;}
   #hp-banner form input, #hp-banner form textarea{width:85%;}
   #tabs li{width:100%;float:none;-moz-box-sizing:border-box;box-sizing:border-box;}
   .tab-content .one_fourth{width:100%;}
   .sectors section .span4 .readmore{width:100%;}
   .sectors section .span4 .wrap{width:100%;}
   .post-copy{width:80%;}
   #contact .container{padding:0 10px;}
   #contact form li{width:100%!important;float:none;}
   #contact form input, #contact form textarea{width:84%!important;float:left!important;}
   .software-updates form li{width:100%!important;float:none;}
   .software-updates form input, .software-updates form textarea{width:84%!important;float:left!important;}
   .software-updates form input.button, #contact form input.button{width:120px!important;}
   
      
   body{padding:0;}
   .container{padding-left:15px;padding-right:15px;}
}   
    